@model Manager.Models.Views.Upload
<link href="@Styles.Url("~/scripts/uploadify/uploadify.css")" rel="stylesheet"/>
<style type="text/css">
    .upload-button {
        background-color: #459300;
        background-image: -moz-linear-gradient(center top, #6ACE00 0%, #459300 100%);
        background-position: center top;
        background-repeat: no-repeat;
        border: 1px solid #459300;
        border-radius: 6px;
        color: #FFFFFF;
        font: bold 12px Arial, Helvetica, sans-serif;
        text-align: center;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        width: 100%;
    }

    .uploadify:hover .upload-button {
        background-color: #459300;
        background-image: -moz-linear-gradient(center bottom, #6ACE00 0%, #459300 100%);
        background-position: center bottom;
    }

    .upload-button.disabled {
        background-color: #D0D0D0;
        color: #459300;
    }

    .upload-panel { margin: 10px; }
</style>
@if (Model.IsHtmlEditor)
{
    @Scripts.Render("~/scripts/jquery")
    <script type="text/javascript" src="@Url.Content("~/scripts/tinymce/tiny_mce_popup.js")"> </script>
    <script type="text/javascript">
        var FileBrowserDialogue = {
            init: function() {
            },
            mySubmit: function(imagem) {
                var win = tinyMCEPopup.getWindowArg("window");

                win.document.getElementById(tinyMCEPopup.getWindowArg("input")).value = imagem;

                if (typeof(win.ImageDialog) != "undefined") {
                    if (win.ImageDialog.getImageData)
                        win.ImageDialog.getImageData();

                    if (win.ImageDialog.showPreviewImage)
                        win.ImageDialog.showPreviewImage(imagem);
                }

                tinyMCEPopup.close();
            }
        };

        tinyMCEPopup.onInit.add(FileBrowserDialogue.init, FileBrowserDialogue);
    </script>
}
<script src="@Scripts.Url("~/scripts/uploadify/jquery.uploadify-3.2.min.js")"> </script>
<script type="text/javascript">
    var files = new Array();
    $(function() {
        $('#file_upload').uploadify({
            swf: '@Url.Content("~/scripts/uploadify/uploadify.swf")',
            uploader: '@Url.Action("Save")',
            fileTypeDesc: '@Model.Description',
            fileTypeExts: '@Model.Extension',
            formData: { 'directory': '@Url.Encode(Model.Directory)' },
            buttonText: 'Selecione',
            fileObjName: 'file',
            multi: @Model.Multiple.ToString().ToLower(),
            fileSizeLimit: '@Model.Size',
            debug: false,
            queueSizeLimit: @Model.QueueSize,
            button_image_url: '@Url.Content("~/content/manager/images/transparency.png")',
            buttonClass: 'upload-button',
            onUploadError: function(file, errorCode, errorMsg, errorString) {
                alert('Não foi possível efetuar o upload do arquivo ' + file.name + ': ' + errorString);
            },
            onUploadSuccess: function(file, data) {
                var r = $.parseJSON(data);

                if (r.Status != 200) {
                    alert(r.Message);
                } else {
                    files.push(r.Data);
                }
            },
            onQueueComplete: function() {
                @if (Model.IsHtmlEditor)
                {
                    <text>
                        FileBrowserDialogue.mySubmit(files[0].Viewer);
                    </text>
                }
                else
                {
                    <text>
                        $('body').trigger('manager-upload-complete-@Model.Callback', { files: files });
                    </text>
                }
            }
        });
    });
</script>
<div class="upload-panel">
    <input type="file" name="file_upload" id="file_upload" />
</div>