@{
    var modules = Session[HardCode.Session.Modules] as IList<Module>;
}
@if (modules != null && modules.Count > 0)
{
    var controllerName = ViewContext.RouteData.GetRequiredString("controller");
    var actionName = ViewContext.RouteData.GetRequiredString("action");
    <ul id="main-nav">
        @foreach (var module in modules)
        {
            <li>
                <a href="@(string.IsNullOrEmpty(module.Controller) && string.IsNullOrEmpty(module.Action) ? "javascript:void(0);" : Url.Action(module.Action, module.Controller))"  title="@module.Description" class="nav-top-item @(module.Childs.Count > 0 ? "" : "no-submenu") @(module.Contains(controllerName, actionName) ? "current" : "")">@module.Name</a>
                @if (module.Childs.Count > 0)
                {
                    <ul>
                        @foreach (var child in module.Childs)
                        {
                            <li>
                                <a href="@Url.Action(child.Action, child.Controller)" title="@child.Description"  class=" @(child.Contains(controllerName, actionName) ? "current" : "")">@child.Name</a>
                            </li>
                        }
                    </ul>
                }
            </li>
        }
    </ul>
}