@model IList<Module>
@if (Model.Any())
{
    var controllerName = ViewContext.ParentActionViewContext.RouteData.GetRequiredString("controller");
    var actionName = ViewContext.ParentActionViewContext.RouteData.GetRequiredString("action");
    <ul id="main-nav">
        @foreach (var module in Model)
        {
            <li>
                <a href="@(module.DefaultFunctionality == null ? "javascript:void(0);" : Url.Action(module.DefaultFunctionality.Action, module.DefaultFunctionality.Controller))"  title="@module.Description" class="nav-top-item @(module.Childs.Count > 0 ? "" : "no-submenu") @(module.Contains(controllerName, actionName) ? "current" : "")">@module.Name</a>
                @if (module.Childs.Count > 0)
                {
                    <ul>
                        @foreach (var child in module.Childs)
                        {
                            <li>
                                <a href="@Url.Action(child.DefaultFunctionality.Action, child.DefaultFunctionality.Controller)" title="@child.Description"  class=" @(child.Contains(controllerName, actionName) ? "current" : "")">@child.Name</a>
                            </li>
                        }
                    </ul>
                }
            </li>
        }
    </ul>
}

