@model string

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Banco de Dados</title>
        @Scripts.Render("~/scripts/jquery")
        <style type="text/css">
            * {
                font-family: Arial;
                margin: 0;
                padding: 0;
            }

            body { background: #fff; }

            h1 {
                background: #0b5fa5;
                background: url("../../../../content/manager/images/database.png") no-repeat #0b5fa5 10px 50%;
                color: #fff;
                line-height: 48px;
                padding: 10px;
                text-indent: 55px;
            }

            .content { margin: 10px; }

            .content .box {
                background: #66a1d2;
                color: #fff;
                margin-bottom: 10px;
            }

            .content .box h2 {
                background: #3f8fd2;
                color: #fff;
                padding: 10px;
            }

            .content .box a {
                font-weight: bold;
            }

            .content .box p {
                padding: 10px;
            }

            .message {
                background: #ffed73;
                padding: 10px;
                color: #666;
            }
        </style>
    </head>
    <body>
        <h1>Banco de Dados</h1>
        @if (!string.IsNullOrEmpty(Model))
        {
        <div class="message">@Html.Raw(Model)</div> 
            <script type="text/javascript">
                $(function () {
                    window.setTimeout(function () {
                        $('.message').slideUp();
                    }, 6000);
                });
            </script>           
        }
        <div class="content">
            <div class="box">
                <h2>Criar</h2>
                <p>
                    @Html.ActionLink("Clique aqui", "Create") para criar o banco de dados do projeto.
                </p>
            </div>
            <div class="box">
                <h2>Atualizar</h2>
                <p>
                    @Html.ActionLink("Clique aqui", "Update") para atualizar as diferenças do banco de dados.
                </p>
            </div>
            <div class="box">
                <h2>Remover</h2>
                <p>
                    @Html.ActionLink("Clique aqui", "Drop") para remover o banco de dados.
                </p>
            </div>
            <div class="box">
                <h2>Carga</h2>
                <p>
                    @Html.ActionLink("Clique aqui", "Dump") para efetuar a carga inicial no banco de dados.
                </p>
            </div>
        </div>
    </body>
</html>