@model User
@section Scripts{
    <script type="text/javascript">
        $(function () {
            $.manager.users.form();
        });
    </script>
}
@section Title {
Usuário
}
@using (Html.BeginForm("Save", "Users", FormMethod.Post, new { id = "user" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)    
    using (Html.ContentBox(string.Format("{0} usuário", Model.IsNew() ? "Novo" : "Alterar")))
    {
    @Helpers.NotificationRequired()
    <p class="column">
        @Html.LabelFor(m => m.Profile.Id, true)
        @Html.DropDownListFor(m => m.Profile.Id, (IList<SelectListItem>)ViewBag.Profiles)
    </p>
    <div class="clear"></div>
    <p class="column">
        @Html.LabelFor(m => m.Name, true)
        @Thunder.TextBoxFor(m => m.Name, TextBoxStyle.Medium)
    </p>
    <p class="column">
        @Html.LabelFor(m => m.Email)
        @Thunder.TextBoxFor(m => m.Email, TextBoxStyle.Medium)
    </p>
    <p class="column">
        @Html.LabelFor(m => m.Login, true)
        @Thunder.TextBoxFor(m => m.Login, TextBoxStyle.Small)
    </p>
    <p class="column">
        @Html.LabelFor(m => m.Password, true)
        @Html.TextBoxFor(m => m.Password, (string.IsNullOrEmpty(Model.Password) ? "" : Model.PlanPassword), new { maxlength = 10, @class = "small-input-fixed" })
    </p>
    <p class="column">
        @Html.LabelFor(m => m.Status.Id)
        @Html.DropDownListFor(m => m.Status.Id, (IList<SelectListItem>)ViewBag.Status)
    </p>    
    }
}
@section Actions
{
    @Helpers.ActionForSaveInModal()
}