@model IPaging<UserProfile>
@if (Model.Count == 0)
{
    @Html.Attention("Não existe nenhum perfil de usuário cadastrado.")
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th class="align-center">Status
                </th>
                <th class="align-center" style="width: 80px;">Operação
                </th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="4">
                    @Html.Pagination(Model)
                    <div class="clear">
                    </div>
                </td>
            </tr>
        </tfoot>
        <tbody>
            @foreach (var profile in Model)
            {
                <tr>
                    <td>@profile.Id</td>
                    <td>@profile.Name</td>
                    <td class="align-center">@profile.Status.Name</td>
                    <td class="align-center">
                        @Helpers.ActionForEdit(Url.Action("Edit", new { profile.Id }))
                        @Helpers.ActionForDelete("Deseja realmente excluir esse perfil?", Url.Action("Delete", new { profile.Id }), profile.CanDelete())
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
